.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s;
}
.modal-overlay.visible{
  opacity: 1;
}

.modal {
  position: fixed;
  top: var(--top__modal);
  left: var(--left__modal);
  transform: var(--transform__modal);
  width: 100%;
  max-width: var(--max-width__modal);
  padding: var(--pading__modal);
  background-color: var(--bg-color__container__form);
  border-radius: var(--border-radius__modal);

  opacity: 0;
  z-index: 1000;
  transition: opacity 0.25s;
}
.modal.visible{
  opacity: 1;
}

.modal__header {
  font-size: var(--font-size__modal__header);
  border-bottom: var(--border-bottom__modal__header);
  padding: var(--padding__modal__header);
  border-radius: var(--border-radius__modal__header);
}

.modal .modal__footer {
  padding: var(--padding__modal__footer);
  background-color: var(--bg-color__modal__footer);
}